header {
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  border-bottom: 3px solid #505457;
}
.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.logo-icon {
  font-size: 3rem;
  color: tomato;
}
.logo-container h1 {
  font-size: 1.4rem;
  text-decoration: underline;
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  list-style-type: none;
}
nav ul li {
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}
.cart-container {
  position: relative;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}
.cart-container .item-counter {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #505457;
  color: #e8ffe7;
  font-size: 0.7rem;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  position: absolute;
  top: -8px;
  right: -5px;
}
.cart-container .header-icon {
  font-size: 1.9rem;
  cursor: pointer;
}
nav ul li:hover,
.cart-container:hover {
  transform: scale(0.9);
  opacity: 0.8;
}
.active {
  border-bottom: 3px solid tomato;
}
