* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html {
  font-size: 1.2rem;
}
#root {
  background-color: #e8ffe7;
  color: #505457;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  padding: 30px;
}
a {
  text-decoration: none;
  color: #505457;
}
a:hover {
  text-decoration: underline;
}
