* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', 'Segoe UI', Tahoma, Geneva, Verdana,
    sans-serif;
}
html {
  font-size: 1.2rem;
}
body {
  overflow-x: hidden;
  min-height: 100vh;
  min-width: 100vw;
}
#root {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
  min-width: 100vw;
}
header,
footer {
  height: 70px;
  opacity: 0.8;
  position: sticky;
  z-index: 99999;
  background-color: #e7e5e4;
  color: #1b1918;
}
header,
main,
footer {
  width: 100%;
}
header {
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  border-bottom: 3px solid #505457;
  padding: 20px 40px;
}
.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.logo-icon {
  font-size: 3rem;
  color: tomato;
}
.logo-container h1 {
  font-size: 1.4rem;
  text-decoration: underline;
}
nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  list-style-type: none;
}
nav ul li {
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  position: relative;
}
nav ul li .link {
  font-size: 1.2rem;
}
.cart-container {
  position: relative;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}
.cart-container .item-counter {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #505457;
  color: #e8ffe7;
  font-size: 0.7rem;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  position: absolute;
  top: -8px;
  right: -5px;
}
.cart-container .header-icon {
  font-size: 1.9rem;
  cursor: pointer;
}
nav ul li:hover,
.cart-container:hover {
  transform: scale(0.9);
  opacity: 0.8;
}
.mobile-navbar-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  display: none;
  cursor: pointer;
}
.active {
  border-bottom: 3px solid tomato;
}
main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 70px 10px;
  color: #1b1918;
  background-color: #e7e5e4;
}
.hero {
  display: flex;
  background: radial-gradient(circle at 50% 50%, #ff6347b6, #e7e5e4);
  color: #1b1918;
  padding: 20px;
}
.hero-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.hero h1 {
  font-size: 2rem;
}
.hero-image-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.hero-image-container img {
  width: 100%;
  max-width: 800px;
}
.hero-btn,
.subscribe-btn,
.add-to-cart-btn,
.contact-form button,
.filter-btn,
.quantity-btn,
.del-item-in-cart-btn,
.clear-cart-container button {
  padding: 10px 20px;
  background: tomato;
  color: white;
  font-size: 1.1rem;
  font-weight: 550;
  border: none;
  border-radius: 15px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.7);
  cursor: pointer;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
}
.hero-btn:hover,
.subscribe-btn:hover,
.contact-form button:hover,
.add-to-cart-btn:hover,
.filter-btn:hover,
.quantity-btn:hover,
.del-item-in-cart-btn:hover,
.clear-cart-container button:hover {
  opacity: 0.7;
  transform: scale(0.97);
  box-shadow: none;
}
.hero-btn:active,
.subscribe-btn:active,
.contact-form button:active,
.add-to-cart-btn:active,
.filter-btn:active,
.quantity-btn:active,
.del-item-in-cart-btn:active,
.clear-cart-container button:active {
  opacity: 0.5;
  outline: 2px solid #505457;
}
.popular-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.popular-products-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  background: linear-gradient(to bottom left, white, #505457);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
  padding: 10px;
  border-radius: 10px;
}
hr {
  width: 150px;
  height: 10px;
  background: linear-gradient(to bottom right, black, tomato);
  border: none;
  border-radius: 15px;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.7);
}
.products-cards-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.products-cards-container:hover > :not(:hover) {
  opacity: 0.4;
  transform: scale(0.98);
}
.product-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
  height: 400px;
  background-color: white;
  color: #1b1918;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
  padding: 10px;
  border: none;
  border-radius: 10px;
  transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out;
}
.product-img-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  background-color: white;
  border-radius: 10px;
}
.product-card img,
.cart-item-img-container img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
.item-title-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-height: 100px;
  max-height: 150px;
  overflow: hidden;
}
.product-price {
  color: tomato;
  font-weight: 600;
}
.price-quantity-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.quantity-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 5px;
  padding: 5px;
  min-width: 100%;
}
.quantity-btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 5px;
  font-size: 1rem;
}
.decrease-quantity-btn {
  background-color: #d53332;
}
.increase-quantity-btn {
  background-color: #0dc21d;
}
.subscription-section {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.subscription-section h1 {
  font-size: 1.2rem;
}
.subscription-section form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.subscription-section form input,
.contact-form input,
.contact-form textarea {
  border: none;
  border-bottom: 1.5px solid #505457;
  border-radius: 5px;
  background-color: #e8ffe7;
  color: #505457;
  font-size: 0.8rem;
  padding: 7px 14px;
}
.subscription-section form input:focus,
.contact-form input:focus,
.contact-form textarea:focus {
  outline: 2px solid tomato;
  border: none;
}
.subscribe-btn {
  font-size: 0.8rem;
  padding: 5px 10px;
}
.links-container,
.social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
footer {
  bottom: 0px;
  display: flex;
  font-size: 1rem;
  font-weight: 400;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-top: 3px solid #505457;
}
footer .icons-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
}
.icons-container .icon {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
  padding: 3px;
  border-radius: 5px;
  transition: opacity 0.5s ease-in-out, box-shadow 0.5s ease-in-out,
    transform 0.5s ease-in-out;
}
.icons-container .icon:hover {
  opacity: 0.7;
  box-shadow: none;
  transform: scale(0.98);
  transform: rotateZ(90deg);
}
.contact-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
  min-width: 350px;
  max-width: 450px;
  padding: 10px;
  margin-top: 20px;
  border-radius: 10px;
  overflow: hidden;
}
.contact-form textarea {
  height: 150px;
  resize: none;
}
.contact-form button,
.add-to-cart-btn,
.filter-btn {
  font-size: 1rem;
  padding: 4px 8px;
  width: 100%;
  align-self: center;
}
.shop {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
.products-filter {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 10px;
}
.filter-btn {
  padding: 5px 10px;
  width: 150px;
}
.cart {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0px 30px;
}
.cart section {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 50px;
}
.clear-cart-container {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  padding: 10px;
  flex: 1;
  min-width: 250px;
  min-height: 100px;
  align-items: center;
  justify-content: space-between;
}
.clear-cart-container div {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.clear-cart-container button {
  min-width: 100%;
  background-color: #0dc21d;
  padding: 4px 8px;
}
.cart-items-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
}
.cart-item {
  display: flex;
  gap: 10px;
  width: 500px;
  height: 200px;
  background-color: white;
  box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px 10px 5px 10px;
  padding: 5px;
}
.cart-item-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 150px;
  min-height: 150px;
  width: 150px;
  height: 100%;
  background-color: white;
  padding: 10px;
  overflow: hidden;
  border-radius: 10px;
}
.title-btns-price-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 5px;
}
.title-btns-price-container h4 {
  margin-bottom: auto;
}
.del-item-in-cart-btn {
  background-color: #e82c48;
  padding: 5px 10px;
  min-width: 100%;
}
.quantity-container div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.items-list-and-clear-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

#dark-mode-label {
  width: 40px;
  height: 20px;
  background-color: hsl(20, 6%, 10%);
  border-radius: 10px;
  position: absolute;
  cursor: pointer;
}
#circle {
  width: 17px;
  height: 17px;
  background-color: hsl(20, 6%, 90%);
  border-radius: 50%;
  position: absolute;
  top: 1.5px;
  left: 1.5px;
  animation: toggleOff 600ms linear forwards;
}
#dark-mode-input:checked + #dark-mode-label {
  background-color: #e7e5e4;
}
#dark-mode-input:checked + #dark-mode-label #circle {
  background-color: hsl(20, 6%, 10%);
}
#dark-mode-input:checked + #dark-mode-label #circle {
  animation: toggleOn 600ms linear forwards;
}
.link {
  color: black;
  text-decoration: none;
}
.dark-mode-link {
  color: #e7e5e4;
}
.dark-header-footer {
  background-color: #1b1918;
  color: #e7e5e4;
}
.dark-hero {
  background: radial-gradient(circle at 50% 50%, #808080, #505457);
  color: #e7e5e4;
}
.gradient-text {
  display: inline-block;
  color: transparent;
  background-image: linear-gradient(to left, #ff6347b6, white, tomato);
  -webkit-background-clip: text;
  background-clip: text;
}
.dark-popular-container {
  background: linear-gradient(to bottom right, #505457, #1b1918);
}
.dark-product-card {
  background: linear-gradient(to bottom right, #505457, #1b1918);
  color: #e7e5e4;
}
.dark-shop,
.dark-contact-page,
.dark-cart,
.dark-home-page,
.dark-cart-item {
  background-color: #1b1918;
  color: #e7e5e4;
}

@keyframes toggleOn {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(20px);
  }
}
@keyframes toggleOff {
  0% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(0);
  }
}

@media screen and (max-width: 830px) {
  .items-list-and-clear-cart {
    flex-direction: column;
  }
  .clear-cart-container {
    width: 100%;
  }
}
@media screen and (max-width: 700px) {
  .desktop-nav {
    position: fixed;
    top: 70px;
    right: -1000px;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 30px;
    padding: 20px 0px;
    transition: right 0.5s ease-in-out;
  }
  .desktop-nav li {
    min-width: 50%;
  }
  .mobile-navbar-icons {
    display: flex;
  }
  .show-nav.desktop-nav {
    right: 0px;
  }
}
@media screen and (max-width: 680px) {
  .hero {
    flex-direction: column;
  }
  .cart section {
    flex-direction: column;
  }
  .cart-item {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  nav ul {
    flex-direction: column;
    gap: 2px;
    justify-content: center;
    align-items: center;
  }
  .logo-container h1 {
    display: none;
  }
  .links-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
  }
  .cart-item {
    flex-direction: column;
    height: auto;
    align-items: center;
    justify-content: center;
    min-width: 100%;
  }
  .title-btns-price-container {
    min-width: 100%;
  }
  .items-list-and-clear-cart {
    min-width: 100%;
  }
  .cart-items-container {
    min-width: 100%;
  }
  .cart section {
    min-width: 100%;
  }
  .contact-form {
    min-width: 100%;
  }
}
@media screen and (max-width: 300px) {
  .logo-container {
    display: none;
  }
}
